<!DOCTYPE html>
<html>
<head>
  <title>SocialPIU</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


</head>
<body class="<%= params[:controller] %>">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <div id="container">
        <div class="user_nav">
          <ul class="nav navbar-nav">
            <% if current_user %>
              Logged in as <%= current_user.email %>
              <li><a href="/event/newevent">Crear Evento</a></li>
              <li><%= link_to "Log out", logout_path %></li>
            <% else %>
              <li><%= link_to "Sign up", signup_path %></li>
              <li><%= link_to "Log in", login_path  %></li>
            <% end %>   
            <li><a href="/viewcalendario">Ver Calendario</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
 

<div class="jumbotron">

    <%= yield %>

</div>
</body>
</html>